:root {
  --background: #f0f0f0;
  --foreground: #101010;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #f0f0f0;
    --navbarbg: #101010;
    --casestudybg: #101010;
    --casestudyheader: #000;
    --secondbg: #2c2c2c;
    --darkgrey: #646464;
    --fg-secondary: hsl(0 0% 59.61%);
    --fg-casestudy: #7a7a7a;
    --primary: hsl(218.41, 100%, 58.04%);
    --button: #2c2c2c;
    --buttonHover: hsl(0 0% 24%);
    --btnradius: 4px;
    --borderradius: 6px;
    --defaultgap: 24px;
    --smallgap: 8px;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-manrope), sans-serif;
}

.container {
  width: clamp(300px, 90%, 1536px);
  margin-left: auto;
  margin-right: auto;
}

.section-padding {
  padding: 120px 0;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.2;
  background-image: url("/noise.svg");
  background-repeat: repeat;
  animation: grain-move 1s steps(2) infinite;
}

@media (max-width: 600px) {
  .grid-col-3 {
    grid-template-columns: 1fr;
  }
  .grid-col-2 {
    grid-template-columns: 1fr;
  }
  .section-padding {
    padding: 64px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-padding {
    padding: 64px 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
